*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.d1{
    background-color: white;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
}
#logo{
    margin-left: 69px;
    height: 48px;
    margin-top: 10px;
}
nav{
  margin-left: 22px;
  min-height: 60px;
  line-height: 60px;
  word-spacing: 15px;
}
#list1{
    border: none;
    font-size: 18px;
    width: 8%;
    color: rgb(88, 87, 87);
}
#list2{
    border: none;
    font-size: 18px;
    width: 9.5%;
    color: rgb(88, 87, 87);
}
a{
    text-decoration: none;
    color: rgb(88, 87, 87);
}
.hypers{
    font-size: 17px;
}
#phno{
    float: right;
    margin-right: 70px;
    margin-top: -9px;
    font-size: 20px;
}
#mail{
    float: right;
    margin-right: 70px;
    margin-top: -56px;
}
.div2{
    background-color: rgb(29,186,234);
    border: 2px solid rgb(29,186,234);
    height: 480px;
    margin-top: 78px;
}
#head1{
    color: white;
    display: block;
    text-indent:60px;
    font-size: 45px;
    margin-top: 25px;
}
#head2{
    color: white;
    display: block;
    text-indent:60px;
    font-size: 40px;
}
#para1{
    padding-top:10px ;
     color: white;
      width: 49%;
     margin-left: 60px;
     font-size: 18px;
     word-spacing: 5px;
}
#get{
    font-size: 18px;
    color: white;
    margin-top: 40px;
    cursor: pointer;
    margin-left: 79px;
    width: 15%;
    height: 45px;
    box-shadow: 0px 5px rgb(255, 136, 0);
    background-color: rgba(241, 175, 50, 0.96);
    padding: 5px;
    border: 1px solid rgba(241, 175, 50, 0.96);
}
#get1{
    font-size: 18px;
    color: white;
    margin-top: 40px;
    cursor: pointer;
    margin-left: 79px;
    width: 15%;
    height: 45px;
    box-shadow: 0px 5px black;
    background-color: rgb(66, 66, 66);
    padding: 5px;
    border: 1px solid rgb(66, 66, 66); 
}
#di2{
    float: right;
    margin-right: 130px;
    margin-top: -358px;
    height: 482px;
}
#marquee{
    margin-top: 70px;
    border: 1px solid orange;
    width: 50%;
    height: 60px;
    background-color: orange;
    margin-left: -3px;
    border-bottom-right-radius: 800px ;
}
.rev{
    margin-top: 35px;
    margin-left:70px;
    display: flex;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
}
.m{
    border-right: 2px solid rgb(226, 218, 218);
    padding-right: 50px;
    padding-left: 10px;
    color: white;
    
}
.n{
    color: white;
    padding-left: 10px;
}
#stickydiv{
    display:flex;
    align-items:flex-start;
    box-shadow: -5px 0px 5px grey;
    flex-direction: column;
    margin-top:7%;
    height:500px;
    width:20%;
    margin-left:6%;
    position:sticky;
    top:60px;
    bottom:-700px;
    background-color: rgb(235, 238, 240);
    }
    #stickydiv a{
    margin-left:5%;
    padding-top:5%;
    background-color: rgb(235, 238, 240);
    text-decoration:none;
    color:black;
    font-size: 130%;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #stickydiv hr{
    height:2px;
    background-color: white;width:100%;
    border:none;
    }
    #button3{
    background-color:rgb(202, 135, 9);
    height:10%;
    width:100%;
    border-bottom: 4px solid rgb(75, 24, 24);
    border-top:none;
    border-left:none;
    border-right:none;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size:125%;
    border-radius:5px;
    }
    #button3:hover{
    background-color:rgb(75, 24, 24) ;
    }
    #button4{
    color:white;
    background-color: rgb(56, 55, 55);
    width:100%;
    height:15%;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border:none;
    }
    #stickydiv a:active{
    margin-left:10%;
    color:rgb(62, 62, 170);
    border-left:solid 4px orangered;
    }
    #div3{
        width:70%;
        margin-top:-39%;;
        height:900px;
        margin-left:27%;
        }
        #course{
            height:600px;
            width:65%;
            margin-left: 30%;
            background-color:white;
            margin-top:-20%;
            }
            .cls1{
            margin-top:2%;
            color:black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight:500;
            font-size:x-large;
            }
            .cls2{margin-top:2%;
            color:rgb(70, 70, 112);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size:large;
            }
            #formdiv{
            height:500px;
            border:1px solid;
            width:65%;
            margin-top:3%;
            margin-left:30%;
            background-color: rgb(227, 230, 233);
            }
            #button10:hover{
            background-color: rgb(95, 55, 55);
            }
            #p1{
                height: 570px;
                width: 100%;
                border: 2px solid;
                background-color:rgb(2, 2, 78) ;
            }
            #p2{
                margin-left: 5%;
                margin-top: 80px;
            }
            #p3{
                width: 25%;
                height: 40px;
               
                margin-left: 70%;
                margin-top: -40px;
            }
            .z{
                width: 30px;
                height: 30px;
                border-radius:  90px;
                flex-direction: column;
                justify-content: space-around;
               margin-left: 20px;
            }
            .u{
                width: 20%;
               height: 300px;
             
              
            flex-direction: row;
            margin-left: 4%;
            margin-top: 2%;
            
              
            
            }
            .g{
                line-height: 30px;
                margin-left: 3.5%;
                color: white;
                font-size: small;
            }
            a{
                text-decoration: none;
                font-size: small;
            }
            .div12{
    height: 250px;
    border: 2px solid rgb(253, 141, 13);
    background-color: rgb(253, 141, 13);
}
#learn1{
    color: white;
    font-size: 45px;
    margin-left: 90px;
    margin-top: 70px;
}
#learn2{
    color: white;
    width: 52%;
    margin-left:90px ;
    font-size: 20px;
    margin-top: -20px;
}
#talk{
     color: white;
     float: right;
     margin-right: 100px;
     margin-top: -140px;
     font-size: 25px;
}
#num{
    float: right;
    margin-right: 110px;
    margin-top: -80px;
    border: 2px solid orange;
    width: 17%;
    height: 50px;
    background-color: rgb(255, 173, 20);
    border-radius: 30px;
}